%^CYAN%^GOLDEN RULES%^RESET%^

%^MAGENTA%^These rules have been put in place to make the game fair and enjoyable for everyone. Knowing and abiding by these rules are conditions for playing Sundering Shadows.%^RESET%^

If you notice something that may be illegal, or if you encounter a dispute with another player or staff-member, contact the law team at %^ORANGE%^admin@sunderingshadows.com%^RESET%^ or via the %^ORANGE%^<lawmail>%^RESET%^ command.

%^ULINE%^%^MAGENTA%^Rule 1:%^RESET%^ Be kind and respectful towards your fellow players and our staff. This is a game, and we can settle/adjudicate all disagreements amicably. Though the game allows you to role-play an evil character, always be considerate out of character (OOC).
 
%^ULINE%^%^MAGENTA%^Rule 2:%^RESET%^ We are a role-playing MUD. When interacting with other characters in the game world, you are expected to stay in character (IC) whenever possible to increase immersion.

%^ULINE%^%^MAGENTA%^Rule 3:%^RESET%^ Speak English.

%^ULINE%^%^MAGENTA%^Rule 4:%^RESET%^ Any scripts, triggers, etc. that automate combat are illegal.

%^ULINE%^%^MAGENTA%^Rule 5:%^RESET%^ Antagonistic actions may only occur between characters who have dropped their NOPK flag. See %^ORANGE%^<pk rules>%^RESET%^ and %^ORANGE%^<post pk rules>%^RESET%^.

%^ULINE%^%^MAGENTA%^Rule 6:%^RESET%^ Sexual encounters require the OOC consent of all players involved. Consent may be withdrawn at any time without question. All participating characters must be adult members of their race.

%^ULINE%^%^MAGENTA%^Rule 7:%^RESET%^ Respect all Fade to Black requests immediately See %^ORANGE%^<help fade to black>%^RESET%^.

%^ULINE%^%^MAGENTA%^Rule 8:%^RESET%^ You are allowed multiple characters, but may only have one player character logged on at any given time.

%^ULINE%^%^MAGENTA%^Rule 9:%^RESET%^ Offline collaboration is allowed, but attempts to demand or sleuth another's personal information will not be tolerated. OOC threats or abuse in any form, in game or out of game, is illegal.

%^ULINE%^%^MAGENTA%^Rule 10:%^RESET%^ Using this game as a medium to conduct illegal activities is strictly forbidden and will always result in rid and banishment. All character interactions are logged and may be observed by our staff.

In addition to these rules, are you are expected to know and abide by the rules listed in %^ORANGE%^<help pk rules>%^RESET%^, %^ORANGE%^<help post pk>%^RESET%^ and %^ORANGE%^<help line use>%^RESET%^. Failure to comply with the rules will result in punishment and repeat offenders may be banned and/or rid. See also %^ORANGE%^<help shorthand>%^RESET%^ for a list of common abbreviations and their meaning. If these rules are unclear, contact our staff for clarification. 

%^CYAN%^SEE ALSO: %^RESET%^shorthand, pk rules, post pk rules, languages, roleplaying, line use, fade to black, game, lawmail, avatarmail, pkmail, races, set
